.img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.h3 {
    color: #f7f7f7;
    font-size: 1.35rem;
}

.p {
    color: #fff;
}

@media (min-width: 520px) {

.img {
    width: 100px;
    height: 100px;
}

.h3 {
    font-size: 1.3rem;
}
}